<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/main/about">About</a></li>
          <li><a href="/main/tour">Tour</a></li>
          <li><a href="/recordings/show/1">{{ site }}</a></li>
          <li><a href="/main/people">People</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
