<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Openmir</a>
      <div class="nav-collapse">
        <ul class="nav">

          {% if navbar == "home" %}
          <li class="active"><a href="/">Home</a></li>
          {% else %}
          <li><a href="/">Home</a></li>
          {% endif %}

          {% if navbar == "projects" %}
          <li class="active"><a href="/projects">Projects</a></li>
          {% else %}
          <li><a href="/projects">Projects</a></li>
          {% endif %}

          {% if navbar == "recordings" %}
          <li class="active"><a href="/recordings">Recordings</a></li>
          {% else %}
          <li><a href="/recordings">Recordings</a></li>
          {% endif %}

          {% if navbar == "clips" %}
          <li class="active"><a href="/clips">Clips</a></li>
          {% else %}
          <li><a href="/clips">Clips</a></li>
          {% endif %}

          {% if navbar == "trim" %}
          <li class="active"><a href="/trim">Trim</a></li>
          {% else %}
          <li><a href="/trim">Trim</a></li>
          {% endif %}


        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
