{% extends "layouts/base.html" %}

{% block content %}

<table>
  <tr>
    <th>name</th>
    <th># Clips</th>
    <th># Labels</th>
    <th>Labels</th>
    <th>trainingSet</th>
    <th>trainedStartTime</th>
    <th>trainedEndTime</th>
    <th>trained</th>
    <th>celeryTaskId</th>
    <th>train</th>
  </tr>
  {% for classifier in classifiers %}
  <tr>
    <td>{{ classifier.name }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="/tools/trainingSetBuilder/{{ classifier.trainingset_set.all.0.id }}">{{ classifier.trainingset_set.all.0.name }}</a></td>
    <td>{{ classifier.trainStartTime }}</td>
    <td>{{ classifier.trainEndTime }}</td>
    <td>{{ classifier.trained }}</td>
    <td><a href="tasks/{{ classifier.celeryTaskId }}/status">{{ classifier.celeryTaskId }}</a></td>
    <td><a href="/classifiers/train/{{classifier.id}}">train</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

