html { -webkit-font-smoothing: antialiased; }

body {
	width: 1024px;
    /* height: 768px; */
    /* font-family: Helvetica;  */
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
    margin-left: 10px;
}

.ui-page {
    background-image:url('../../assets/images/backgrounds/ocean_background.jpg');
    -webkit-backface-visibility: hidden;
}


/* Put the footer at the bottom of the page */
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 


/* The calls */

.click {
    position: relative;
    top: 1px;
    left: 1px;
}

.selected {
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}


.call {
    position: relative;
    display: inline-block;
    padding: 3px;
    padding-bottom: 15px;
    background: #fff;
    border: 1px solid black;
    margin: 3px;
    display: none;
}

.catalog {
    display : inline-block;
}

h2 {
    position: absolute;
    top: 105px;
    left: 0px;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #000;
}

.ui-text{font-weight:normal;}

.click h2 {
    top: 101px;
    left: -1px;
}

