/* orcaTalk main css for web */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.mainOrcaImageRight {
    margin-left: 20px;
    float: right;
    border: 1px solid black;
}

.mainOrcaImageLeft {
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    border: 1px solid black;
}

#hrebInfo {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    width: 70%;
    border: 1px solid black;
    background: white;
}